<h1>Museo: <%=@museo.nombre%></h1>
<label class='label'>Nombre</label>
<p><%=@museo.nombre%></p>
<label class='label'>Secciones</label>
<%= render :partial=>'shared/opcionesmuseo',:locals=>{:museo=>@museo} %>
<br/>
<%=link_to 'Editar',edit_museo_path(@museo),:class=>'btn'%> o <%=link_to 'Ir al listado',museos_path%>
