<%=form_for [@museo,@servicio],:html=>{:multipart=>true} do |f|%>

    <!-- imagenes de los servicios disponibles con radiobuttons-->

  <!--Servicios sin vinculacion
      <%=f.label :imagen,:class=>'label'%>
      <% Service.all.each do |ser| %>
        <%= image_tag(ser.imagen,:size=>'32x32') %>       
        <%= f.radio_button :imagen, ser.imagen %>
       </span>
     <% end %>
  -->
    <!-- Servicios vinculados service_id  -->
     <%=f.label :imagen,:class=>'label'%>
      <% Service.all.each do |ser| %>
        <%= image_tag(ser.imagen,:size=>'32x32') %>       
        <%= f.radio_button :service_id, ser.id %>
       </span>
     <% end %>



    <%=f.label :descripcion,:class=>'label'%>
    <%=f.text_area :descripcion,:size=>'30x5'%>
    <br/>
    <%=f.submit 'Guardar',:class=>'btn btn-success'%> o <%=link_to 'cancelar',museo_servicios_path(@museo)%>
<%end%>
