<table class='table'>
    <tbody>
        <tr><th>Ficha técnica</th> <td>Imagen del museo, descripción, como llegar,...</td><td><%=link_to 'Ver',museo_ficha_path(museo),:class=>'btn btn-success'%></td></tr>
        <tr><th>Espacios</th><td>Espacios del museo: nombre, imagen, descripción,...</td><td><%=link_to 'Ver',museo_espacios_path(museo),:class=>'btn btn-success'%></td></tr>
        <tr><th>Contenido museístico</th><td>Aka @infosgenericas</td><td><%=link_to 'Ver',museo,:class=>'btn btn-success'%></td></tr>
        <tr><th>Piezas museísticas</th><td>Listado de piezas del museo</td><td><%=link_to 'Ver',museo_piezas_path(museo),:class=>'btn btn-success'%></td></tr>
        <tr><th>Historia</th><td>Aka @historias</td><td><%=link_to 'Ver',museo,:class=>'btn btn-success'%></td></tr>
        <tr><th>Premios/Reconocimientos</th><td>Aka @premios</td><td><%=link_to 'Ver',museo,:class=>'btn btn-success'%></td></tr>
        <tr><th>Publicaciones</th><td>Aka @publicaciones</td><td><%=link_to 'Ver',museo,:class=>'btn btn-success'%></td></tr>
        <tr><th>Servicios</th><td>Aka @Servicios ---> ?? Los saca de sitio como las etiquetas?? checkbox???</td><td><%=link_to 'Ver',museo,:class=>'btn btn-success'%></td></tr>
        <tr><th>Entorno</th><td>Aka @entorno</td><td><%=link_to 'Ver',museo,:class=>'btn btn-success'%></td></tr>
    </tbody>
    
</table>
