<h1>Museo <%=@evento.museo.nombre%></h1>
<label class='label'>Título del evento histórico</label>
<p><%=@evento.titulo%>&nbsp;</p>

<label class='label'>Imagen</label>
<p><%=imagentam(@evento,'64x64')%>&nbsp;</p>


<label class='label'>Descripción del evento</label>
<p><%=raw @evento.descripcion%>&nbsp;</p>


<br/>
<%=link_to 'Editar',edit_museo_evento_path(:museo_id=>@evento.museo,:id=>@evento),:class=>'btn'%> o <%=link_to 'Volver a listado de eventos',museo_eventos_path(@museo)%>
