<%= form_for([@generica, @generica.predecessor.relaciones_origen.build]) do |h| %>

    <%= h.hidden_field :origen_id,:value=>@generica.predecessor.id %>
    <%=hidden_field_tag 'generica_id', @generica.id%>

      <%=h.label :nueva_relacion,:class=>'label'%>
     <%=@generica.titulo%> <%=h.collection_select(:sentido_relacion_id, SentidoRelacion.all, :id,:titulo,:prompt => 'Elija tipo y sentido de relacion')%>
     <%=h.collection_select(:fin_id, Relacionable.all(:conditions => ["id != ?", @generica.predecessor.id]), :id,:nombre_select,:prompt => 'Elija relacionable')%>
      <!--%=h.label :relacion,:class=>'label'%-->
  
  <div class="actions">
    <%= h.submit 'Guardar relacion',:class=>'btn' %>
  </div>

  <%end%>
