<h1>Contenido museístico</h1>
<table class='table zebra-striped'>
<tr>
<th>Título</th>
<th>Enlace</th>
<th>Acciones</th>
</tr>
<%@infos.each do |info|%>
<tr>
<td><%=titulo(info)%></td>
<td><%=url(info)%></td>
<td><%=imagentam(info,'64x64')%></td>
<td>
<%= link_to 'Ver',info,:class=>'btn btn-success'%>
<%= link_to 'Editar',edit_info_path(info),:class=>'btn btn-warning'%>
<%= link_to 'Borrar',info_path(info),:method=>:delete,:confirm=>'¿Seguro que desea borrar la informacion?',:class=>'btn btn-danger'%>

</td>
</tr>
<%end%>
</table>
<%= link_to 'Añadir información',new_info_path,:class=>'btn'%>


