<%= javascript_include_tag "ckeditor/init" %>

<%=form_for [@museo, @museo.ficha],:html=>{:multipart=>true} do |f|%>
    <%=f.label :imagen,:class=>'label'%>
    <%if @ficha.imagen_url.to_s!='' %>
        <%=imagentam(@ficha,'64x64')%>
        <%= f.check_box :remove_imagen %>
        Borrar imagen
    <%end%>
    <br/>
    <%= f.file_field :imagen %> 

    <%=f.label :descripcion,:class=>'label'%>
    
     <%= f.cktext_area :descripcion,  :height => 200 %>

    <label class='label'>Contacto</label>
    <%= f.cktext_area :contacto, :toolbar => 'Easy', :height => 200 %>

    <label class='label'>Como llegar</label>
     <%= f.cktext_area :llegar, :toolbar => 'Easy', :height => 200 %>

    <label class='label'>Horarios</label>
    <%= f.cktext_area :horario, :toolbar => 'Easy', :height => 200 %>

    <label class='label'>Coordenadas: Latitud / Longitud</label>
    <p>Latitud:&nbsp <%=f.text_field :x%>&nbsp;Longitud:  <%=f.text_field  :y%></p>

    <br/>
    <%=f.submit 'Guardar',:class=>'btn btn-success'%> o <%=link_to 'cancelar',museo_ficha_path(@museo)%>
<%end%>
