
<p><b>Nombre:</b> <%= @email.nombre  %></p> 
<p><b>Apellido:</b> <%= @email.apellido  %> </p>

<p><b>Organización:</b>  <%= @email.organizacion  %></p>  
<p><b>Ciudad: </b> <%= @email.ciudad  %> </p> 
<p><b>Teléfono: </b> <%= @email.telefono  %> </p> 
<p><b>Email: </b>    <%=@email.email %></p> 

<p><b>Mensaje:</b></p>
<p> <%= @email.mensaje  %></p> 

