<h1>Espacio: <%=@espacio.museo.nombre%></h1>
<label class='label'>Imagen</label>
<p><%=imagentam(@espacio,'64x64')%>&nbsp;</p>

<label class='label'>Nombre</label>
<p><%=@espacio.nombre%>&nbsp;</p>


<label class='label'>Identificador en el plano</label>
<p><%=@espacio.idplano%>&nbsp;</p>

<label class='label'>Descripción</label>
<p><%=raw @espacio.descripcion%>&nbsp;</p>


<br/>
<%=link_to 'Editar',edit_museo_espacio_path(@museo),:class=>'btn'%> o <%=link_to 'Volver a espacios',museo_espacios_path(@museo)%>
