<h1>Tipos de Relaciones creadas</h1>

<table class='table zebra-striped' id='ordenar'>
<thead>
<th class='header hea'>Desde</th>
<th class='header'>Hasta</th>
<th class='header'>Acciones</th>
</thead>
<tbody>
<%@relaciones.each do |s|%>
    <tr>
    <td><%=s.nombre1%></td>
    <td><%=s.nombre2%></td>
    <td>
    <%= link_to 'Ver', nombre_relacion_path(s),:class=>'btn btn-success'%>
    <%= link_to 'Relaciones', relaciones_nombre_relacion_path(s),:class=>'btn btn-success'%>
    <%= link_to 'Editar',edit_nombre_relacion_path(s),:class=>'btn btn-warning'%>
    <%= link_to 'Borrar',nombre_relacion_path(s,:index=>'true'),:method=>:delete,:confirm=>'¿Seguro que desea borrar la relacion?',:class=>'btn btn-danger'%>
    </td>
    </tr>
<%end%>
</tbody>
</table>
<%= link_to 'Añadir un tipo de relacion',new_nombre_relacion_path,:class=>'btn'%>
<hr>
<i> * Desde aquí se habilitan las imagenes de los servicios que se podrán seleccionar para cada museo</i>
<hr>

